body {
    font-family: 'Poppins';font-size: 22px;
    width: Hug (375px);
    height: Hug (604px);
    top: 92px;
    padding: 114px 24px 114px 24px;
    gap: 12px; 

}
.background{
    width: Hug (375px);
    height: Hug (604px);
    top: 92px;
    padding: 114px, 24px, 114px, 24px;
    gap: 12px;
    position: absolute;
    margin-top: 85px;
}
.navbar{
    background-color: white ;
    display: flex;
    justify-content: space-between;
    width: 375px;
    height: 48px;
    top: 44px;
    padding: 4px 24px 4px 12px;
    
    
}
.logo {
    text-decoration: none;
    color: #6070FF;
    font-weight: 700;
    width: Hug (100px);
    height: Hug (40px);
    top: 4px;
    left: 12px;
    padding: 10px, 12px, 10px, 12px;

}
.icon{
    width: Hug (40px);
    height: Hug (40px);
    top: 4px;
    left: 311px;
    padding: 8px;
    border-radius: 8px;
    margin-right: 15px;
    }
.heading{
    color:#172B4D;
    width: 327px;
    height: 150px;
    font-family: Poppins;
    font-weight: 700;
    line-height: 52px;
    text-align: left;
    position: relative;
    padding: 17px;
    margin-top: 50px ;
}
.paragraph{
    width: 327px;
    height: 146px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;   
    padding: 17px;
}
.connect{
    color:#7F8CFF;
    width: 117px;
    height: 24px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 17px;
    font-weight: 550;
}
.socials{
    margin-left: 17px;
    margin-top: 5px;
}
.page2{
    width: 375px;
    height: 2,788px;
    top: 718px;
    padding: 114px 24px 114px 24px;
    gap: 88px;
}
.page2data{
    width: 296px;
    height: 540px;
    padding: 16px;
    border-radius: 16px;
    border: 1px;
    gap: 12px;
    border: 1px solid #DFE1E6;

}
.page2box{
    width: 295px;
    height: 220px;
    border-radius: 8px;
    
}
.page2text{
    width: 295px;
    height: 288px;
    gap: 12px;
    
}
.page3{
    width: 300px;
    height: 550px;
    padding: 16px;
    border-radius: 16px;
    border: 1px;
    gap: 12px;
    border: 1px solid #DFE1E6;
}
.page3box{
    width: 295px;
    height: 220px;
    border-radius: 8px;
}
.page4{
    width: 300px;
    height: 500px;
    padding: 16px;
    border-radius: 16px;
    border: 1px;
    gap: 12px;
    border: 1px solid #DFE1E6;
    
}
.page4box{
    width: 295px;
    height: 220px;
    border-radius: 8px;
}
.page5{
    width: 300px;
    height: 550px;
    padding: 16px;
    border-radius: 16px;
    border: 1px;
    gap: 12px;
    border: 1px solid #DFE1E6;
}
.page5box{
    width: 295px;
    height: 220px;
    border-radius: 8px;
}
.page6{
    width: 375px;
    height: 1,062.15px;
    top: 3506px;
    padding: 114px 24px 114px 24px;
    gap: 24px;
    
}
.aboutmyself{
    width: 327px;
    height: 346px;
    gap: 12px;
}
.skill{
    width: 327px;
    height: 464.15px;
}